// Reset estilos del navegador Web
@import "reset/reset.scss";
// Variables
@import "variables/variables.scss";

//----------------------------------------------------------------//

.header_cont{
    height: 937px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

@import "header/header.scss";
@import "header/card/card.scss";