//CARD//

.card_cont{
    width: 450px;
    height: 530px;
    background: #00dacf;
    color: rgb(26, 26, 26);
    border: 8px solid #a6ff00 ;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .card_title{
        text-align: center;
        font-size: 30px;
        margin: 25px 0;
    }

    .card_name{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .card_location{
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .img_character{
        width: 250px;
        margin-bottom: 25px;
    }

    .btn_changue{
        padding: 15px 80px;
        background: #004363;
        font-size: 18px;
        font-weight: 700;
        border-radius: 20px;
        color: white;
    }

    .btn_changue:hover{
        padding: 15px 80px;
        background: #a6ff00;
        font-size: 18px;
        font-weight: 700;
        border-radius: 20px;
        color: rgb(0, 76, 78);
    }

}